.Home-info-programs,
.Home-info-upcoming,
.Home-info-videos {
  padding: 0 24px;
}

p.no-items {
  font-size: 120%;
  margin-bottom: 16px 0;
}

.Home-info-items {
  margin-bottom: 24px;
}

.Home-info-item {
  padding: 1rem;
  margin: 1rem auto;
  border: 4px solid #ffd700;
}

.Home-info-item h4 {
  margin-bottom: 0;
}

.Home-info-item p {
  margin-top: 8px;
}

.donation-information {
  padding: 16px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;

  font-size: large;
  max-width: 768px;
  margin: 0 auto;
}

.donation-information p {
  text-align: center !important;
}

.videos-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container iframe {
  max-width: 768px;
}

@media (min-width: 1024px) {
  .video-container,
  .more-soon-container {
    padding: 0 8px;
    max-width: 460px;
  }
}
