footer {
  width: 100%;
  background: #222;
  text-align: center;
  color: white;
  padding: 24px;
  font-size: small;
}

footer p {
  text-align: center !important;
}

footer img {
  height: 40px;
}
