footer {
  width: 100%;
  background: #222;
  text-align: center;
  color: white;
  padding: 24px;
  font-size: small;
  padding-bottom: 80px;
}

footer p {
  text-align: center !important;
}

footer img {
  height: 40px;
}

.seo-links {
  margin-top: 12px;
}

.seo-links a {
  color: #ffd700;
  margin: 0 8px;
}
