.admin {
  max-width: 1024px;
  margin: 120px auto 0 auto;
  position: relative;
}

.tabs button {
  display: inline-block;
  padding: 12px;
  margin-right: 2px;
  border: 1px solid black;
  font-size: 16px;
  font-weight: 100;
  position: relative;
  z-index: 1;
  top: 2px;
}

.tabs button.active {
  background: #ffd700;
  border-bottom: none;
  z-index: 3;
}

.tabs button.inactive {
  border-bottom: 1px solid black;
}

.panel {
  padding: 16px;
  border: 1px solid black;
  background: #ffd700;
  z-index: 2;
}
