nav {
  z-index: 1000;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.header-links {
  list-style: none;
  text-align: right;
  margin: 0;
  padding: 12px 24px 24px 24px;
}

.header-links.thin {
  padding: 12px;
}

@media (max-width: 768px) {
  .header-links {
    text-align: center;
    font-size: 14px;
  }

  .header-links .right {
    text-align: right !important;
  }
}

.header-links li {
  display: inline-block;
  padding: 0 8px;
  text-transform: uppercase;
}

.header-links .flag,
.header-links .gear {
  width: 30px;
  position: relative;
  top: 10px;
}

.header-links a {
  color: white;
  font-weight: 300;
}
