@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
li,
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

p {
  text-align: justify;
}

a {
  font-weight: 400;
  color: crimson;
  text-decoration: none;
}

a:hover {
  color: #ffd700;
}

h3,
h4 {
  font-weight: 400;
}

h3 {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

button:focus {
  outline: 0;
}

.divider {
  margin: 24px auto;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0)
  );
}

.emoji {
  width: 24px;
  position: relative;
  top: 4px;
}

.inner-wrapper {
  max-width: 1024px;
  margin: 48px auto;
}

.inner-wrapper.narrow {
  max-width: 768px;
}

.flex-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.button-link-container-flex {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .flex-info {
    flex-direction: column;
  }

  .inner-wrapper {
    margin: 24px auto;
  }

  .button-link-container-flex {
    max-width: 100%;
    font-size: small;
    align-items: center;
    justify-content: center;
  }
}

.button-link-container-flex a {
  margin: 8px;
}

.map-iframe {
  border: 0;
}

.no-button {
  border: none;
  background: transparent;
}

.button-link {
  background: #ffd700;
  color: black;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 12px 0;
}

.button-link.margin-left {
  margin-left: 12px;
}

.button-link:hover {
  color: #ffd700;
  background: black;
  cursor: pointer;
}

p.no-items {
  font-size: 120%;
  padding-bottom: 16px;
}
