.Home-about-info h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.Home-about-info-text {
  max-width: 575px;
  padding-right: 32px;
}

@media (max-width: 1000px) {
  .Home-about-info {
    flex-direction: column;
    align-items: center;
  }

  .Home-about-info-text {
    max-width: 768px;
    padding-right: 0;
  }

  .Home-about-info-text,
  .slides-container {
    margin: 12px auto;
  }
}

.slides-container {
  max-width: 500px;
  width: 100%;
}

.gold-background,
.light-grey-background {
  padding: 24px;
}

.light-grey-background {
  background: #fafafa;
}

.gold-background {
  background: #ffd700;
}

.gold-background .button-link {
  background: #222;
  color: #ffd700;
}

.gold-background .button-link:hover {
  color: #222;
  background: white;
}

.il-won-image {
  padding-left: 42px;
}

@media (max-width: 1024px) {
  .il-won-image {
    padding-left: 0;
    margin: 24px auto;
  }
}

@media (max-width: 450px) {
  .Home-about-info-text {
    padding: 24px 24px 0 24px;
  }

  .gold-background {
    padding: 0;
  }

  .il-won-image {
    max-width: 80vw;
  }
}

@media (max-width: 768px) {
  .Home-about-info {
    margin-bottom: 0 !important;
  }
}
