.Home-top {
  background: url("/static/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.header-links {
  list-style: none;
  text-align: right;
  margin: 0;
  padding: 24px;
}

@media (max-width: 768px) {
  .header-links {
    text-align: center;
    font-size: 14px;
  }
}

.header-links li {
  display: inline-block;
  padding: 0 8px;
  text-transform: uppercase;
}

.header-links .flag {
  width: 30px;
  position: relative;
  top: 10px;
}

.header-links a {
  color: white;
  font-weight: 300;
}

.Home-intro,
.header-links {
  background-color: rgba(34, 34, 34, 0.4);
  color: white;
}

.Home-intro {
  padding: 20px;
  height: 75vh;

  font-size: large;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Home-logo {
  height: 240px;
}

.Home-title {
  font-size: 1.5em;
  margin-bottom: 0;
}

.Home-subtitle {
  font-size: 1em;
  margin-top: 0;
}
