.Home-top {
  background: url("/static/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.Home-intro{
  background-color: rgba(34, 34, 34, 0.4);
  color: white;
}

.Home-intro {
  padding: 20px;
  height: 75vh;
  padding-top: 100px;

  font-size: large;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media(max-width: 400px) {
  .Home-intro {
    height: 95vh;
  }
}

.Home-logo {
  height: 240px;
}

.Home-title {
  font-size: 1.5em;
  margin-bottom: 0;
}

.Home-subtitle {
  font-size: 1em;
  margin-top: 0;
}
